<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.baekmac.MonoSync</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>monosync</string>
			</array>
		</dict>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>MonoSync는 Apple Music으로 음악을 재생하고, 사용자가 허용한 사람에게 앱 안의 청취 상태를 공유하기 위해 사용합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Paperlogy-4Regular.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Cafe24PROSlimAir.ttf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>UwU.ttf</string>
		<string>나눔손글씨 강부장님체.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
